* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .3s linear;
}
@mixin mx-w991() {
    @media (max-width:991px) {
        @content
    }
}
@media (min-width:992px) {
    .container{
        max-width: 1100px;
    }
}

@mixin mx-w768() {
    @media (max-width:768px) {
        @content
    }
}

@mixin mx-w450() {
    @media (max-width:450px) {
        @content
    }
}


html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    @include mx-w991{
        font-size: 50%;
    }
    @include mx-w450(){
        font-size: 50%;
    }
}
//search
:root {
    --rad: .7rem;
    --dur: .3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #57bd84;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  form {
    border-radius: var(--rad);
  }
  
  input, button {
   
    border: 0;
    font-size: 1.5rem;
  }
  
  input[type=search] {
    outline: 0;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    appearance: none;
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
  }
  
  button {
    display: none;
    width: var(--btn-width);
    font-weight: bold;
    
  }
  
  input:not(:-moz-placeholder-shown) {
    width: calc(100% - var(--btn-width));
  }
  
  input:not(:-ms-input-placeholder) {
    width: calc(100% - var(--btn-width));
  }
  
  input:not(:placeholder-shown) {
    width: calc(100% - var(--btn-width));
  }
  input:not(:-moz-placeholder-shown) + button {
    display: inline-block;
  }
  input:not(:-ms-input-placeholder) + button {
    display: inline-block;
  }
  input:not(:placeholder-shown) + button {
    display: inline-block;
  }
  
  label {


    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }

//search
section{
    padding: 2rem 9%;
    &:nth-child(even){
        background-color: #eee;
    }
    @include mx-w991(){
        padding:2rem;
    }
}
.btn{
  
  display: inline-block;
  font-size: 1.5rem;
  color: #fff;
  background: $black;
  border-radius: 20px;
  cursor: pointer;
  padding: .8rem 3rem;
  
}
.subko-heading{
    text-align: center;
    margin: 4% 0 2%;
    padding: 15px 0 5px;
    background-color: gray;
    
    h3{
        font-size: x-large;
        font-weight: 700;
        color: $white;

    }
}