@import "global";

//home section
.home{
    .home-slider{
        .slide{
             display: flex;
             align-items: center;
             flex-wrap: wrap;
             gap: 2rem;
             padding-top: 9rem;
            .content{
                flex: 1 1 45rem;
                @include mx-w768{
                    order: 2;
                }
                span{
                    color: $green;
                    font-size: 2.5rem;
                }
                h3{
                    color: $black;
                    font-size: 7rem;
                    @include mx-w768{
                        font-size: 4rem;
                    }
                    @include mx-w991{
                        font-size: 5rem;
                    }
                }
                p{
                    color: $gray;
                    font-size: 2rem;
                    padding: 0.5em;
                    line-height: 1.5;
                    
                }
                
            }
            .image{
                order: 1;
                .width{
                    width: 82%;
                }
            }
        }
    }
}
.swiper-pagination-buttet-active{
    background-color: $green;
}
//home section







.popular{
    margin:100px auto 30px;
    .popular-item{
        gap: 20px;
    
        h3{
            margin: 20px;
            font-size: 36px;
            text-align: center;
        }
        p{
            margin: 20px;
            text-align: center;
            font-size: 14px;
        }
        .popular-image{
            img{
                aspect-ratio: 1/1;
                width: 200px;
            }
        }
    }
}
.sub-heading{
    text-align: center;
    color: $green;
    font-size: 2rem ;
    padding-top: 1rem;

}
.heading{
    text-align: center;
    color: $green;
    font-size: 4rem ;
    padding-top: 1rem;
}








